body {
  background: #1b1b1b;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial Black", Arial, sans-serif;
}
#container {
  width: 2400px;
  height: 1600px;
  position: absolute;
  overflow: hidden;
  top: 0;
}
<<<<<<< HEAD
@media (max-width: 1000px) {
  #container {
    left: -500px;
  }
=======
/**************************************************************************************/
main {
  width: 800px;
  height: 1150px;
  left: 800px;
  top: 235px;
  position: relative;
  background-color: #00000024;
  color: white;
  font-size: 10.8px;
}
.icon {
  position: absolute;
  left: -60px;
  top: -11px;
  font-size: 40px;
>>>>>>> 3f67e76fce272e606c524231729072bcdf5f2f08
}
h1 {
  color: #ffaa11;
  font-size: 49px;
  margin: 0;
}
h2 {
  color: #ffaa11;
  font-size: 30px;
  margin: 0;
}
h3 {
  color: #ffaa11;
  font-size: 19px;
  margin: 0 0 -10px;
}
p {
  position: relative;
}
ul {
  font-family: "Calibri", sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -10.5px;
  margin-bottom: -10.5px;
}
li {
  display: flex;
  align-items: center;
}
li::before {
  font-size: 14px;
  color: #ffaa11;
  content: "\2022";
  margin-right: 20px;
}
<<<<<<< HEAD
main {
  width: 800px;
  height: 1150px;
  left: 800px;
  top: 235px;
  position: relative;
  background-color: #00000024;
  color: white;
  font-size: 10.8px;
}
.icon {
  position: absolute;
  left: -60px;
  top: -11px;
  font-size: 40px;
}
=======
>>>>>>> 3f67e76fce272e606c524231729072bcdf5f2f08
/********************************links*************************************/
a {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  position: absolute;
  color: black;
  font-size: 20px;
}
a:hover {
  cursor: pointer;
}
.button {
  position: absolute;
  border-radius: 20px;
  height: 50px;
  background-color: #ffaa11;
}
a:hover .button {
  background-color: #ee9900;
}
footer .button {
  border-radius: 15px;
  width: 150px;
  height: 38px;
}
footer a p {
  position: absolute;
  width: 150px;
  font-size: 13px;
  text-align: center;
}
<<<<<<< HEAD
=======
/*********************************************************************/
>>>>>>> 3f67e76fce272e606c524231729072bcdf5f2f08
/******************************BACKGROUND*****************************/
#gear1 {
  width: 400px;
  height: 400px;
  top: 300px;
  left: 1850px;
  position: absolute;
  background-size: cover;
  background-image: url(../img/CV/gear.png);
  animation: turn_right 180s linear infinite;
}
#gear2 {
  width: 1000px;
  height: 1000px;
  top: 1450px;
  left: 1560px;
  position: absolute;
  background-size: cover;
  background-image: url(../img/CV/gear.png);
  animation: turn_right 190s linear infinite;
}
#dots1 {
  width: 400px;
  height: 400px;
  top: 700px;
  left: 100px;
  position: absolute;
  background-size: cover;
  background-image: url(../img/CV/dots.png);
  animation: turn_right 180s linear infinite;
}
#circle1 {
  width: 60px;
  height: 60px;
  top: 200px;
  left: 400px;
  position: absolute;
  background-size: cover;
  background-image: url(../img/CV/circle.png);
  animation: up_down 19s linear infinite;
}
#circle2 {
  width: 60px;
  height: 60px;
  top: 1000px;
  left: 1800px;
  position: absolute;
  background-size: cover;
  background-image: url(../img/CV/circle.png);
  animation: left_right 20s linear infinite;
}
#circle3 {
  width: 60px;
  height: 60px;
  top: 1400px;
  left: 300px;
  position: absolute;
  background-size: cover;
  background-image: url(../img/CV/circle.png);
  animation: slant 21s linear infinite;
}
#cross1 {
  width: 100px;
  height: 100px;
  top: 100px;
  left: 0px;
  position: absolute;
  background-size: cover;
  background-image: url(../img/CV/cross.png);
  animation: turn_right 50s linear infinite;
}
#cross2 {
  width: 100px;
  height: 100px;
  top: 550px;
  left: 2250px;
  position: absolute;
  background-size: cover;
  background-image: url(../img/CV/cross.png);
  animation: turn_left 50s linear infinite;
}
#cross3 {
  width: 200px;
  height: 200px;
  top: -130px;
  position: absolute;
  background-size: cover;
  background-image: url(../img/CV/cross.png);
  animation: drive 200s linear infinite;
}
#stripes1 {
  width: 220px;
  height: 220px;
  top: 35px;
  left: 630px;
  position: absolute;
  background-size: cover;
  background-image: url(../img/CV/stripes.1.png);
  animation: slant 60s linear infinite;
}
#stripes2 {
  width: 1000px;
  height: 50px;
  top: 1370px;
  left: 1100px;
  position: absolute;
  background-size: cover;
  background-image: url(../img/CV/stripes.2.png);
  animation: left_right 30s linear infinite;
}
#octagon1 {
  width: 900px;
  height: 900px;
  top: -510px;
  left: 1000px;
  position: absolute;
  background-size: cover;
  background-image: url(../img/CV/octagon.png);
  animation: turn_up_down 210s linear infinite;
}
#octagon2 {
  width: 900px;
  height: 900px;
  top: 650px;
  left: -70px;
  position: absolute;
  background-size: cover;
  background-image: url(../img/CV/octagon.png);
  animation: turn_lefr_right 190s linear infinite;
}
#cover11 {
  background-color: #1b1b1b;
  width: 600px;
  height: 500px;
  top: -325px;
  left: 300px;
  position: absolute;
}
#cover12 {
  background-color: #1b1b1b;
  width: 1200px;
  height: 500px;
  top: -295px;
  left: 920px;
  position: absolute;
}
#cover2 {
  background-color: #1b1b1b;
  width: 600px;
  height: 2000px;
  top: -200px;
  left: 1630px;
  position: absolute;
}
#cover3 {
  background-color: #1b1b1b;
  width: 1800px;
  height: 600px;
  top: 1415px;
  left: 300px;
  position: absolute;
}
#cover41 {
  background-color: #1b1b1b;
  width: 1140px;
  height: 800px;
  top: -200px;
  left: -400px;
  position: absolute;
}
#cover42 {
  background-color: #1b1b1b;
  width: 1140px;
  height: 1200px;
  top: 600px;
  left: -370px;
  position: absolute;
  /*********************************************************************/
  /******************************movements*definition*******************/
  /*********************************************************************/
}
/*********************************************************************/
@keyframes turn_right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes turn_left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes up_down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes left_right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slant {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(80px, 80px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes turn_up_down {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  6.25% {
    transform: translate(-20px, -20px) rotate(22.5deg);
  }
  12.5% {
    transform: translate(0, 0) rotate(45deg);
  }
  18.75% {
    transform: translate(-20px, -20px) rotate(67.5deg);
  }
  25% {
    transform: translate(0, 0) rotate(90deg);
  }
  31.25% {
    transform: translate(-20px, -20px) rotate(112.5deg);
  }
  37.5% {
    transform: translate(0, 0) rotate(135deg);
  }
  43.75% {
    transform: translate(-20px, -20px) rotate(157.5deg);
  }
  50% {
    transform: translate(0, 0) rotate(180deg);
  }
  56.25% {
    transform: translate(-20px, -20px) rotate(202.5deg);
  }
  62.5% {
    transform: translate(0, 0) rotate(225deg);
  }
  68.75% {
    transform: translate(-20px, -20px) rotate(247.5deg);
  }
  75% {
    transform: translate(0, 0) rotate(270deg);
  }
  81.25% {
    transform: translate(-20px, -20px) rotate(292.5deg);
  }
  87.5% {
    transform: translate(0, 0) rotate(315deg);
  }
  93.75% {
    transform: translate(-20px, -20px) rotate(337.5deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}
@keyframes turn_lefr_right {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  6.25% {
    transform: translate(-30px, 0px) rotate(22.5deg);
  }
  12.5% {
    transform: translate(0, 0) rotate(45deg);
  }
  18.75% {
    transform: translate(-30px, 0px) rotate(67.5deg);
  }
  25% {
    transform: translate(0, 0) rotate(90deg);
  }
  31.25% {
    transform: translate(-30px, 0px) rotate(112.5deg);
  }
  37.5% {
    transform: translate(0, 0) rotate(135deg);
  }
  43.75% {
    transform: translate(-30px, 0px) rotate(157.5deg);
  }
  50% {
    transform: translate(0, 0) rotate(180deg);
  }
  56.25% {
    transform: translate(-30px, 0px) rotate(202.5deg);
  }
  62.5% {
    transform: translate(0, 0) rotate(225deg);
  }
  68.75% {
    transform: translate(-30px, 0px) rotate(247.5deg);
  }
  75% {
    transform: translate(0, 0) rotate(270deg);
  }
  81.25% {
    transform: translate(-30px, 0px) rotate(292.5deg);
  }
  87.5% {
    transform: translate(0, 0) rotate(315deg);
  }
  93.75% {
    transform: translate(-30px, 0px) rotate(337.5deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}
@keyframes drive {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(2200px) rotate(1080deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}
