
.icon-clock-alt:before { content: '\e800'; } /* '' */
.icon-briefcase:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-globe:before { content: '\e803'; } /* '' */
.icon-lightbulb-1:before { content: '\e804'; } /* '' */
.icon-rocket:before { content: '\e806'; } /* '' */
.icon-star-filled:before { content: '\e807'; } /* '' */
.icon-chat-1:before { content: '\f03d'; } /* '' */
.icon-doc:before { content: '\f04a'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
