body {
  background-color: #1b1b1b;
  overflow-x: hidden;
  transition: background-color 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans 3", sans-serif;
  color: white;
}
#container {
  width: 3000px;
  height: 8025px;
  position: absolute;
  overflow: hidden;
  top: 0;
}
@media (max-width: 1000px) {
  #container {
    left: -800px;
  }
}
#foreground {
  left: 1000px;
  top: 150px;
  width: 1000px;
  position: relative;
}
html {
  scroll-behavior: smooth;
}
h1 {
  position: relative;
  font-weight: 600;
  font-size: 50px;
}
h2 {
  position: relative;
  font-weight: 600;
  font-size: 40px;
}
h3 {
  position: relative;
  font-weight: 600;
  font-size: 30px;
}
p {
  position: relative;
  width: 1000px;
  font-size: 20px;
  text-align: justify;
}
/*********************************sliders**********************************/
.slider {
  position: relative;
}
.slider img {
  position: absolute;
  opacity: 0;
  transition: opacity 1.3s ease-in-out;
}
.slider img.active {
  opacity: 1;
}
.slider0 img {
  width: 800px;
}
.slider1 img {
  width: 600px;
}
.slider2 img {
  width: 600px;
}
.slider3 img {
  width: 600px;
}
.slider4 img {
  width: 600px;
}
.slider5 img {
  width: 700px;
}
.slider6 img {
  width: 600px;
}
.slider7 img {
  width: 600px;
}
.slider8 img {
  width: 600px;
}
.slider9 img {
  width: 600px;
}
/*********************************links**********************************/
a {
  color: rgb(255, 255, 255);
}
footer a,
header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: absolute;
  transition: font-size 0.3s ease;
}
footer .button,
header .button {
  position: absolute;
  border-radius: 15px;
  width: 200px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}
footer a:hover .button,
header a:hover .button {
  opacity: 0.2;
}
footer a p,
header a p {
  position: absolute;
  width: 200px;
  text-align: center;
}
header .button {
  height: 70px;
}
footer .button {
  height: 50px;
}
