body {
  background-color: #1b1b1b;
  overflow-x: hidden;
  transition: background-color 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans 3", sans-serif;
  color: white;
}
#container {
  width: 3000px;
  height: 6200px;
  position: absolute;
  overflow: hidden;
  top: 0;
}
html {
  scroll-behavior: smooth;
}

#foreground {
  left: 1000px;
  top: 150px;
  position: relative;
}
h1 {
  position: relative;
  font-weight: 600;
  font-size: 50px;
}
h2 {
  position: relative;
  font-weight: 600;
  font-size: 40px;
}
h3 {
  position: relative;
  font-weight: 600;
  font-size: 30px;
}
a {
  color: rgb(255, 255, 255);
}
p {
  position: relative;
  width: 1000px;
  font-size: 20px;
  /*text-align: justify;*/
}

/*/////////////////////////SLIDER///////////////////////////////*/
.slider {
  position: relative;
}
.slider img {
  position: absolute;
  opacity: 0;
  transition: opacity 1.3s ease-in-out;
}
.slider img.active {
  opacity: 1;
}
.slider0 img {
  width: 800px;
}
.slider1 img {
  width: 600px;
}
.slider2 img {
  width: 600px;
}
.slider3 img {
  width: 600px;
}
.slider4 img {
  width: 600px;
}
.slider5 img {
  width: 700px;
}
