### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zatrudnij-programiste index.html
RewriteRule czym-sie-interesuje hobby.html
RewriteRule umiejetnosci skills.html
RewriteRule cv cv.html
RewriteRule projekty portfolio.html