body {
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pojemnik {
  width: 3000px;
  height: 3400px;
  position: absolute;
  overflow: hidden;
  top: 0;
}
/*********************************************************************/
/*****************************WŁAŚCIWA*TREŚĆ*STRONY*******************/
/*********************************************************************/
#pierwszy_plan {
  width: 1000px;
  height: 3000px;
  left: 1000px;
  top: 200px;
  background-color: rgba(255, 0, 0, 0.326);
  position: absolute;
}
/*********************************************************************/
/******************************OZDOBNIKI******************************/
/*********************************************************************/
#tło {
  width: 3000px;
  height: 6000px;
  /*background-color: #8f000046;*/
  position: absolute;
  top: 0;
}
/*********************************************************************/
#trybiki1 {
  width: 400px;
  height: 400px;
  top: 300px;
  left: 500px;
  position: absolute;
  background-size: cover;
  background-image: url(obrazki/trybik.jpg);
  animation: obracaj_prawo 180s linear infinite;
}
#trybiki2 {
  width: 700px;
  height: 700px;
  top: 1300px;
  left: 2150px;
  position: absolute;
  background-size: cover;
  background-image: url(obrazki/trybik.jpg);
  animation: obracaj_lewo 130s linear infinite;
}
#trybiki3 {
  width: 300px;
  height: 300px;
  top: 1900px;
  left: 400px;
  position: absolute;
  background-size: cover;
  background-image: url(obrazki/trybik.jpg);
  animation: obracaj_prawo 180s linear infinite;
}
#trybiki4 {
  width: 450px;
  height: 450px;
  top: 2700px;
  left: 2100px;
  position: absolute;
  background-size: cover;
  background-image: url(obrazki/trybik.jpg);
  animation: obracaj_prawo 180s linear infinite;
}
#kropeczki1 {
  width: 500px;
  height: 500px;
  top: 50px;
  left: 2150px;
  position: absolute;
  background-size: cover;
  background-image: url(obrazki/kropeczki.png);
  animation: prawo_lewo 18s linear infinite;
}
/*********************************************************************/
/******************************DEFINICJE*RUCHÓW***********************/
/*********************************************************************/
@keyframes obracaj_prawo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*********************************************************************/
@keyframes obracaj_lewo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
/*********************************************************************/
@keyframes góra_dół {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
/*********************************************************************/
@keyframes prawo_lewo {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
/*********************************************************************/
@keyframes na_skos {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(80px, 80px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/*********************************************************************/

@keyframes obracaj_unoś {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  6.25% {
    transform: translate(-20px, 20px) rotate(22.5deg);
  }
  12.5% {
    transform: translate(0, 0) rotate(45deg);
  }
  18.75% {
    transform: translate(-20px, 20px) rotate(67.5deg);
  }
  25% {
    transform: translate(0, 0) rotate(90deg);
  }
  31.25% {
    transform: translate(-20px, 20px) rotate(112.5deg);
  }
  37.5% {
    transform: translate(0, 0) rotate(135deg);
  }
  43.75% {
    transform: translate(-20px, 20px) rotate(157.5deg);
  }
  50% {
    transform: translate(0, 0) rotate(180deg);
  }
  56.25% {
    transform: translate(-20px, 20px) rotate(202.5deg);
  }
  62.5% {
    transform: translate(0, 0) rotate(225deg);
  }
  68.75% {
    transform: translate(-20px, 20px) rotate(247.5deg);
  }
  75% {
    transform: translate(0, 0) rotate(270deg);
  }
  81.25% {
    transform: translate(-20px, 20px) rotate(292.5deg);
  }
  87.5% {
    transform: translate(0, 0) rotate(315deg);
  }
  93.75% {
    transform: translate(-20px, 20px) rotate(337.5deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}
/*********************************************************************/

@keyframes samochodzik {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(2200px) rotate(1080deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}
